// Font size
$font-xs: 0.875rem;
$font-sm: 0.9375rem;
$font-med: 1rem;
$font-lg: 1.125rem;
$font-x_lg: 1.25rem;
$font-display: 2rem;

// Color Styles

// Primary
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);

//Neutral
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$grayishCyan: hsl(179, 59%, 45%);
$lightCyan: hsla(179, 63%, 45%, 0.836);
